:root {
  --color-primary: #02ec97;
  --color-secondary: #181415;
  --color-ternary: #4B4B4B;
  --color-bg: #F5F5F5;
  --color-text: #191818;
}

body {
  font-family: 'Roboto';
  background-color: var(--color-bg);
  color: var(--color-text);
}

.text-theme {
  color: var(--color-text);
}

.bg-primary {
  background-color: var(--color-primary);
}

.text-primary {
  color: var(--color-primary);
}

